<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linkify</title>
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
    body {
        padding-top: 70px;
    }
    #e {
        font-size: 14px;
        height: 800px;
    }

    .list-group-item {
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }

    .bs-docs-footer {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 100px;
        color: #777;
        text-align: center;
        border-top: 1px solid #e5e5e5;
    }
    </style>
</head>

<body ng-app="app">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Linkfy</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about" id="about" data-toggle="modal" data-target="#myModal">About</a></li>
                <li><a href="https://chrome.google.com/webstore/detail/linkclump/lfpjkncokllnfokkgpkobnkbkmelfefj" target="_blank">Linkclump 크롬확장 설치</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container" ng-controller="AppController">
  <!--[if lte IE 9]>
  <div class="well">
    IE10 미만에서는 사용할 수 없습니다.
  </div>
  <![endif]-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">사용법</h4>
        </div>
        <div class="modal-body">
          <ol>
            <li>Linkclump 크롬 확장을 먼저 설치합니다.</li>
            <li>링크 목록을 아래 입력창에 입력하면 오른쪽 영역에 링크 목록이 생성됩니다.</li>
            <li>마우스 오른쪽 버튼을 누른채 생성된 링크 목록위로 박스영역을 그리면, 그 안에 있는 링크 목록이 탭으로 열립니다.</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div id="e" class="col-md-6">
            <textarea style="width:100%; height:100%;" placeholder="Paste here" class="form-control" autofocus ng-model="linkInput"></textarea>
        </div>

        <div id="r" class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in linkList"><a href="{{item}}">{{item}}</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->

<footer class="bs-docs-footer" role="contentinfo">
    <p>문의: 운영플랫폼개발팀 채희상 theand@daumcorp.com</p>
</footer>

<script src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>

<script>
"use strict";

/* Global Module */
var App = angular.module('app', [] );

App.controller('AppController', ['$scope',
    function ($scope) {

        $scope.linkList = [];

        $scope.$watch('linkInput', function(){
            $scope.linkList = $scope.linkInput.trim().split(/\s+/);
        });
    }
]);

</script>

</html>
